<div class="container" id="{{alias}}">
    <div class="row" id="header">
      <h1>{{data.title}}</h1>
      <h2>{{data.subtitle}}</h2>
    </div>
    <div class="row" id="switch">
      <button id="previous_slide">
        Предыдущий
      </button>
      <button id="toggle_theme">
        Тема
      </button>
      <button id="next_slide">
        Следующий
      </button>
    </div>
    <div class="row" id="main">