    <div class="col">
      <div class="vote_card"></div>
    </div>
    <div class="col">
      <div class="vote_card"></div>
      <div class="vote_card hidden"></div>
      <div class="vote_card"></div>
    </div>
    <div class="col">
      <div class="vote_card arrow">
        <div id="button_up"></div>
      </div>
      <div class="vote_card hidden"></div>
      <div class="vote_card hidden"></div>
      <div class="vote_card arrow">
        <div id="button_down" data-params=""></div>
      </div>
    </div>
    <div class="col">
      <div class="vote_card"></div>
      <div class="vote_card hidden"></div>
      <div class="vote_card"></div>
    </div>
    <div class="col">
      <div class="vote_card"></div>
    </div>
  </div>
</div>